@model smartattendancesystem.Models.Company

@{
    ViewData["Title"] = "Create";
}

<h2>Add New Company</h2>


<div class="container">
    <div class="alert-success">
        <h2 class="text-center">@ViewBag.SucessMessage</h2>


    </div>
</div>

<div class="container">
    <div class="alert-danger">

        <h2 class="text-center">@ViewBag.WarningMessage</h2>

    </div>
</div>
<hr />


<form asp-action="Create" method="post" enctype="multipart/form-data">


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="LogoDesign" class="control-label"></label>
        <input asp-for="LogoDesign" type="file" class="form-control" multiple required />
        <span asp-validation-for="LogoDesign" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InTime" class="control-label"></label>
        <input  asp-for="InTime" class="form-control" required />
        <span asp-validation-for="InTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OutTime" class="control-label"></label>
        <input     asp-for="OutTime" class="form-control" required />
        <span asp-validation-for="OutTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Policies" class="control-label"></label>
        <input asp-for="Policies" class="form-control" required />
        <span asp-validation-for="Policies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WebAddress" class="control-label"></label>
        <input asp-for="WebAddress" type="url" class="form-control" required />
        <span asp-validation-for="WebAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" type="email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" type="number" class="form-control" required />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    @*<div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModifyDate" class="control-label"></label>
            <input asp-for="ModifyDate" class="form-control" />
            <span asp-validation-for="ModifyDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModifyBy" class="control-label"></label>
            <input asp-for="ModifyBy" class="form-control" />
            <span asp-validation-for="ModifyBy" class="text-danger"></span>
        </div>*@
    <div class="form-group">
        <label asp-for="Status" class="control-label text-body"></label>
        <select asp-for="Status" required>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" type="text" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group  ">
        <input type="submit" value="Add" class=" btn btn-primary btn-lg btn-block" />
    </div>


</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts{

    <script>
        $(document).ready(function () {
          $('input.timepicker').timepicker({
                  timeFormat: 'h:mm p',
    interval: 60,
    minTime: '10',
    maxTime: '6:00pm',
    defaultTime: '11',
    startTime: '10:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true
            });
        });


    </script>
}